* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

/* adjusting fonts */

@font-face {
  font-family: "Fragment Mono";
  src: url("FragmentMono-Regular.ttf");
}

@font-face {
  font-family: "Fragment Mono";
  src: url("FragmentMono-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Ouvrieres";
  src: url("Ouvrieres-rassasiees.woff2");
}

@font-face {
  font-family: "Danfo";
  src: url("Danfo-Regular-VariableFont_ELSH.ttf");
}


body {
	font-family: "Fragment Mono", -apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif;
	transition: background-color 500ms ease;
	color: black;
	background: linear-gradient(210deg, rgba(162,162,162,1) 0%, rgba(255,255,255,1) 33%);
}

body a {
	color: black;
	background-color: rgba(190,0,222,.2);
	text-decoration: none;
}


#darkmode {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 4px 8px;
	font-size: 22px;
	/*border-radius: 100%;
	background: brown;
	box-shadow: 0px 0px 0px #000;*/

	transition: all 400ms ease;
	cursor: pointer;
}

#darkmode:hover {
	transform: translateY(-3px);
/*	box-shadow: 0px 2px 3px #000;*/
}

body.dark {
  background-color: #222;	
  background: linear-gradient(210deg, rgba(115,104,27,1) 0%, rgba(34,34,34,1) 33%);  
/*  background-image: url('cat-bus.jpg') !important;*/
  min-height: 100vh;
/*  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: 640px 360px !important;*/
  color: #fafafa;
}

body.dark #darkmode {
	color: blue;
}

body.dark a {
	background-color: rgba(255,255,255,.1);
	color: yellow;
}

body.day {
	min-height: 100vh;
}

#clock {
	position: fixed;
	bottom: 10px;
	right: 10px;
}

#grid {
	padding-top: 100px;
}

h1, h2, p, li {
	font-size:  16px;
	line-height: 22px;
}

h1 {
	font-size: 24px;
	line-height: 28px;
}

/* adjusting spacing */

#left-column {
	padding: 20px;
}

h1, p, ul, ol {
	margin-bottom:  20px;
}

ul, ol {
	margin-left: 20px;
}

img {
	max-width: 100%;
	height:  auto;
}

pre {
	padding: 20px;
}

#pokemon img {
	max-width: 40px;
	height: auto;
}

#phone-message {
	display: none;
}

#pokemon img#phone, #pokemon img#tablet {
	display: none;
}



@media only screen and (max-width: 768px) {

	#pokemon img#phone, #pokemon img#desktop {
		display: none;
	}

	#pokemon img#tablet {
		display: block;
	}

}


@media only screen and (max-width: 600px) {

	#pokemon img#tablet, #pokemon img#desktop {
		display: none;
	}

	#pokemon img#phone {
		display: block;
	}

	#phone-message {
		display: block;
	}

}

#print {
	display: none;
}

@media print {
	body {
		color: orange;
	}

#print {
	display: block;
}

}




/*#pokemon img#phone, #pokemon img#tablet  {
	display: none;
}

@media only screen and (max-width: 812px) { 

	#pokemon img#tablet  {
		display: block;
	}

	#pokemon img#desktop, #pokemon img#phone  {
		display: none;
	}
}
*/
