* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

/* adjusting fonts */

@font-face {
  font-family: "Fragment Mono";
  src: url("FragmentMono-Regular.ttf");
}

@font-face {
  font-family: "Fragment Mono";
  src: url("FragmentMono-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Ouvrieres";
  src: url("Ouvrieres-rassasiees.woff2");
}

@font-face {
  font-family: "Danfo";
  src: url("Danfo-Regular-VariableFont_ELSH.ttf");
}


body {
	font-family: "Fragment Mono", -apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif;
	transition: background 500ms ease;
	color: red;
}

body.dark {
  background: #333;
}

h1, h2, p, li {
	font-size:  16px;
	line-height: 22px;
}

h1 {
	font-size: 24px;
	line-height: 28px;
}

/* adjusting spacing */

#left-column {
	padding: 20px;
}

h1, p, ul, ol {
	margin-bottom:  20px;
}

ul, ol {
	margin-left: 20px;
}

img {
	max-width: 100%;
	height:  auto;
}

pre {
	padding: 20px;
}
