@font-face {
  font-family: "Fragment Mono";
  src: url("fonts/FragmentMono-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Fragment Mono";
  src: url("fonts/FragmentMono-Italic.ttf");
  font-style: italic;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	font-family: "Fragment Mono", sans-serif;	
	padding: 20px;
	background: beige;
}

/* dark mode button */

button#darkmode {
	position: fixed;
	top: 20px;
	right: 20px;
}

/* type */

p {
}

h1, h2 {
	font-family: sans-serif;
	margin-top: 20px;
	margin-bottom: 10px;
}

h2 {
	font-size: 14px;
}

#personal-info {

}

#psyduck {
}

/* links */

a {
	color: red;
	text-decoration: none;
	transition: 500ms all ease;
}

a:hover {
	color: purple;
}

/* lists */

p, ul, ol, footer {
	font-size: 14px;
	line-height: 18px;
}

ul, ol {
	margin: 20px;
}

/* table */

table {
	border-spacing: 0px;
}

th {
	background: darkgoldenrod;
	color: white;
}

td {
	background: white;
}

th, td {
	padding: 10px;
	border-left: 1px solid black;
	border-top: 1px solid black;
}

th:last-child, td:last-child {
	border-right: 1px solid black;
}

tr:last-child td {
	border-bottom: 1px solid black;
}

td:hover {
	background: yellow;
}


/* footer */

footer {
	position: fixed;
	display: block;
	bottom: 20px;
	left: 20px;
}

body.dark {
	background: #333;
	color: white;
}

body.dark a {
	color: yellow;
}

body {
	transition: 1000ms all ease;
}

#applin {
	width: 80px;
	height: auto;
}

#applin, #hydrapple {
	display: none;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	
	#hydrapple {
		display: inline-block;
	}
	#dipplin {
		display: none;
	}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
	#applin {
		display: inline-block;
	}
	#dipplin {
		display: none;
	}

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	body {
		background: orange;
	}
}

@media print {
    h1, h2, body {
    	font-family: serif;
    }
}